$size1: 8px;
$size2: 12px;
$size3: 18px;
$size4: 24px;
$size5: 36px;
$size6: 48px;
$background: darken(#AEBABF, 15%);
$text:#F0F2F2;
$primary:darken(#D9B0B3, 5%);
$accent:lighten(#0D0D0D, 28%);
$highlight:darken(#A6A292, 20%);
//BMI Colors
$under:#E8B400;
$over:#FF9A00;
$obsese1:#FF6B00;
$obsese2:#E83502;
$obsese3:#FF0C00;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);